workflow-igdb-sync.json
{
  "name": "Game Calendar – IGDB Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "id": "node-schedule",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://id.twitch.tv/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "client_id",     "value": "={{ $vars.TWITCH_CLIENT_ID }}" },
            { "name": "client_secret", "value": "={{ $vars.TWITCH_CLIENT_SECRET }}" },
            { "name": "grant_type",    "value": "client_credentials" }
          ]
        }
      },
      "id": "node-twitch-token",
      "name": "Get IGDB Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.igdb.com/v4/games",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Client-ID",     "value": "={{ $vars.TWITCH_CLIENT_ID }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $('Get IGDB Token').item.json.access_token }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "=fields name, slug, first_release_date, hypes, platforms.id, platforms.name, genres.name, cover.url, summary, involved_companies.company.name, involved_companies.developer, involved_companies.publisher, themes.name, game_modes.name, player_perspectives.name, franchises.name, collections.name, game_engines.name, similar_games.name, similar_games.genres.name, similar_games.rating, release_dates.human, release_dates.platform.name, release_dates.region, websites.url, websites.category, age_ratings.category, age_ratings.rating, language_supports.language.name, language_supports.language_support_type.name, alternative_names.name; where first_release_date > {{ Math.floor(Date.now()/1000) }} & first_release_date < {{ Math.floor(Date.now()/1000) + 7776000 }} & platforms = (6,130,167,169) & version_parent = null; sort first_release_date asc; limit 500;"
      },
      "id": "node-igdb-query",
      "name": "Query IGDB Games",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const COLORS = ['teal', 'coral', 'purple', 'amber', 'pink', 'blue'];\nconst PLATFORM_MAP = { 6: 'PC', 130: 'Switch', 167: 'PS5', 169: 'Xbox' };\nconst REGION_MAP = { 1: 'Europe', 2: 'North America', 3: 'Australia', 4: 'New Zealand', 5: 'Japan', 6: 'China', 7: 'Asia', 8: 'Worldwide', 9: 'Korea', 10: 'Brazil' };\nconst WEBSITE_MAP = { 1: 'official', 3: 'wikipedia', 4: 'facebook', 5: 'twitter', 13: 'steam', 14: 'reddit', 16: 'epic', 17: 'gog', 18: 'discord' };\nconst ESRB_MAP = { 6: 'RP', 7: 'EC', 8: 'E', 9: 'E10+', 10: 'T', 11: 'M', 12: 'AO' };\nconst PEGI_MAP = { 1: '3', 2: '7', 3: '12', 4: '16', 5: '18' };\n\nconst raw = $input.first().json;\nconst list = Array.isArray(raw) ? raw : $input.all().map(i => i.json);\n\nconst games = list.map((game, i) => {\n  const ts = game.first_release_date;\n  const d  = new Date(ts * 1000);\n  const releaseDate = d.toISOString().split('T')[0];\n\n  const platforms = (game.platforms || [])\n    .map(p => PLATFORM_MAP[p.id])\n    .filter(Boolean);\n\n  let cover = null;\n  if (game.cover?.url) {\n    cover = game.cover.url\n      .replace('t_thumb', 't_cover_big')\n      .replace(/^\\/\\//, 'https://');\n  }\n\n  const developers = (game.involved_companies || [])\n    .filter(c => c.developer).map(c => c.company?.name).filter(Boolean);\n  const publishers = (game.involved_companies || [])\n    .filter(c => c.publisher).map(c => c.company?.name).filter(Boolean);\n\n  const releases = (game.release_dates || []).map(r => ({\n    date: r.human || 'TBD',\n    platform: r.platform?.name || 'Unknown',\n    region: REGION_MAP[r.region] || 'Worldwide'\n  }));\n\n  const websites = (game.websites || [])\n    .map(w => ({ url: w.url, type: WEBSITE_MAP[w.category] || null }))\n    .filter(w => w.type);\n\n  const ageRatings = (game.age_ratings || []).map(r => {\n    if (r.category === 1) return { system: 'ESRB', rating: ESRB_MAP[r.rating] || 'RP' };\n    if (r.category === 2) return { system: 'PEGI', rating: PEGI_MAP[r.rating] || '?' };\n    return null;\n  }).filter(Boolean);\n\n  const langMap = {};\n  for (const ls of (game.language_supports || [])) {\n    const lang = ls.language?.name;\n    if (!lang) continue;\n    if (!langMap[lang]) langMap[lang] = { language: lang, audio: false, subtitles: false, interface: false };\n    const t = (ls.language_support_type?.name || '').toLowerCase();\n    if (t === 'audio') langMap[lang].audio = true;\n    else if (t === 'subtitles') langMap[lang].subtitles = true;\n    else if (t === 'interface') langMap[lang].interface = true;\n  }\n\n  const similarGames = (game.similar_games || []).slice(0, 12).map(sg => ({\n    name: sg.name,\n    genres: (sg.genres || []).map(g => g.name),\n    rating: sg.rating ? Math.round(sg.rating) / 10 : null\n  }));\n\n  return {\n    id:                 game.id,\n    slug:               game.slug,\n    title:              game.name,\n    url:                `https://www.igdb.com/games/${game.slug}`,\n    releaseDate,\n    price:              'TBD',\n    platforms,\n    genres:             (game.genres || []).map(g => g.name),\n    hype:               game.hypes || 0,\n    cover,\n    color:              COLORS[i % COLORS.length],\n    summary:            game.summary || null,\n    developers,\n    publishers,\n    themes:             (game.themes || []).map(t => t.name),\n    gameModes:          (game.game_modes || []).map(m => m.name),\n    playerPerspectives: (game.player_perspectives || []).map(p => p.name),\n    franchises:         (game.franchises || []).map(f => f.name),\n    collections:        (game.collections || []).map(c => c.name),\n    engine:             (game.game_engines || []).map(e => e.name),\n    alternativeNames:   (game.alternative_names || []).map(a => a.name),\n    releases,\n    websites,\n    ageRatings,\n    languageSupports:   Object.values(langMap),\n    similarGames\n  };\n});\n\nreturn [{ json: { games } }];"
      },
      "id": "node-normalize",
      "name": "Normalize Games",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/repos/' + $vars.GITHUB_REPO + '/contents/src/_data/games.json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'token ' + $vars.GITHUB_TOKEN }}" },
            { "name": "Accept",        "value": "application/vnd.github.v3+json" }
          ]
        }
      },
      "id": "node-gh-get",
      "name": "Get Current File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const games   = $('Normalize Games').first().json.games;\nconst sha     = $('Get Current File SHA').first().json.sha;\nconst content = JSON.stringify(games, null, 2);\nconst encoded = Buffer.from(content).toString('base64');\n\nreturn [{\n  json: {\n    message: `chore: update games.json ${new Date().toISOString().slice(0,10)}`,\n    content: encoded,\n    sha\n  }\n}];"
      },
      "id": "node-gh-payload",
      "name": "Build GitHub Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/' + $vars.GITHUB_REPO + '/contents/src/_data/games.json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'token ' + $vars.GITHUB_TOKEN }}" },
            { "name": "Accept",        "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "node-gh-put",
      "name": "Update games.json on GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 300]
    }
  ],
  "connections": {
    "Every 6 Hours":         { "main": [[{ "node": "Get IGDB Token",            "type": "main", "index": 0 }]] },
    "Get IGDB Token":        { "main": [[{ "node": "Query IGDB Games",           "type": "main", "index": 0 }]] },
    "Query IGDB Games":      { "main": [[{ "node": "Normalize Games",            "type": "main", "index": 0 }]] },
    "Normalize Games":       { "main": [[{ "node": "Get Current File SHA",       "type": "main", "index": 0 }]] },
    "Get Current File SHA":  { "main": [[{ "node": "Build GitHub Payload",       "type": "main", "index": 0 }]] },
    "Build GitHub Payload":  { "main": [[{ "node": "Update games.json on GitHub","type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [],
  "pinData": {}
}
